Lab | Customer Analysis Round 5 For this lab, we still keep using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder.

1. Get the data We are using the marketing_customer_analysis.csv file.

2. Dealing with the data Already done in the round 2.

3. Explore the data Done in the round 3.

4. Processing Data (Further processing...)

    4.1. X-y split. 
    4.2. Normalize (numerical).

In [1]:
# 1. Get the data We are using the marketing_customer_analysis.csv file.
import pandas as pd
df=pd.read_csv(r"C:\Users\Usuari\Documents\IRONHACK\Work\Labs\01 semana\2023-03-09\marketing_customer_analysis.csv")
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
# 2. Dealing with the data Already done in the round 2.
df.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [3]:
#3. Explore the data Done in the round 3.
df=df.dropna()

In [4]:
numericos=df.select_dtypes(include=["int64", "float64"])
numericos

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
10,10,5154.764074,82730,127,13.0,31,0.0,1,442.521087
13,13,5454.587929,66334,69,25.0,25,0.0,4,331.200000
16,16,5326.677654,76717,66,26.0,10,0.0,6,300.528579
...,...,...,...,...,...,...,...,...,...
10902,10902,3579.023825,28304,91,10.0,30,2.0,1,655.200000
10903,10903,2771.663013,59855,74,30.0,82,4.0,1,355.200000
10904,10904,19228.463620,0,187,14.0,32,0.0,2,897.600000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849

In [5]:
categoricos=df.select_dtypes(exclude=["int64", "float64"])
categoricos

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Vehicle Type
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
10,HG93801,Arizona,No,Extended,High School or Below,1/2/11,Employed,M,Urban,Married,Corporate Auto,Corporate L3,Offer2,Branch,SUV,Large,A
13,KR82385,California,No,Basic,Master,1/26/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Two-Door Car,Medsize,A
16,FH51383,California,No,Basic,High School or Below,2/7/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer4,Call Center,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,PP30874,California,No,Extended,High School or Below,1/24/11,Employed,F,Suburban,Married,Personal Auto,Personal L2,Offer2,Agent,Four-Door Car,Medsize,A
10903,SU71163,Arizona,No,Basic,College,1/7/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize,A
10904,QI63521,Nevada,No,Basic,High School or Below,2/24/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A

In [6]:
correlaciones=numericos.corr()
correlaciones

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
Unnamed: 0,1.000000,0.018506,0.002476,-0.002327,-0.012626,0.016022,-0.007972,-0.004518,-0.008315
Customer Lifetime Value,0.018506,1.000000,0.015914,0.413739,0.029199,0.022465,-0.034924,0.015397,0.228579
Income,0.002476,0.015914,1.000000,-0.007594,-0.010556,-0.007987,0.001149,-0.013199,-0.355311
Monthly Premium Auto,-0.002327,0.413739,-0.007594,1.000000,0.000890,0.033422,-0.002469,-0.025578,0.630894
Months Since Last Claim,-0.012626,0.029199,-0.010556,0.000890,1.000000,-0.036879,-0.000364,0.001089,-0.011449
Months Since Policy Inception,0.016022,0.022465,-0.007987,0.033422,-0.036879,1.000000,-0.001965,-0.009029,0.012610
Number of Open Complaints,-0.007972,-0.034924,0.001149,-0.002469,-0.000364,-0.001965,1.000000,0.014388,-0.003433
Number of Policies,-0.004518,0.015397,-0.013199,-0.025578,0.001089,-0.009029,0.014388,1.000000,0.002864
Total Claim Amount,-0.008315,0.228579,-0.355311,0.630894,-0.011449,0.012610,-0.003433,0.002864,1.000000

In [7]:
# 4. Processing Data (Further processing...)
    # 4.1. X-y split. 
x = df.drop(columns="Customer Lifetime Value")
y = df["Customer Lifetime Value"]

In [8]:
 # 4.2. Normalize (numerical).
from sklearn.preprocessing import MinMaxScaler  
scaler=MinMaxScaler()
nomalized_df=scaler.fit_transform(df.select_dtypes(include=["int64", "float64"]))
nomalized_df

array([[0.00000000e+00, 1.60202595e-01, 2.21476376e-01, ...,
        0.00000000e+00, 1.25000000e-01, 1.65875444e-01],
       [9.16926462e-05, 2.50897719e-01, 4.90971479e-01, ...,
        0.00000000e+00, 1.25000000e-01, 1.67262660e-01],
       [7.33541170e-04, 3.99251795e-02, 8.27622773e-01, ...,
        0.00000000e+00, 0.00000000e+00, 1.52921040e-01],
       ...,
       [9.99633229e-01, 2.12775351e-01, 0.00000000e+00, ...,
        0.00000000e+00, 1.25000000e-01, 3.10216853e-01],
       [9.99816615e-01, 4.12108464e-02, 6.11698562e-01, ...,
        0.00000000e+00, 6.25000000e-01, 9.43334435e-02],
       [1.00000000e+00, 1.23652740e-01, 6.42200458e-01, ...,
        8.00000000e-01, 6.25000000e-01, 2.13674312e-01]])

In [9]:
y1=pd.DataFrame(nomalized_df, columns=df.select_dtypes(include=["int64", "float64"]).columns)
y1

,Unnamed: 0,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0.000000,0.160203,0.221476,0.164557,0.971429,0.313131,0.0,0.125,0.165875
1,0.000092,0.250898,0.490971,0.151899,0.285714,0.030303,0.0,0.125,0.167263
2,0.000734,0.039925,0.827623,0.278481,0.371429,0.313131,0.0,0.000,0.152921
3,0.001009,0.043608,0.663599,0.033755,0.714286,0.252525,0.0,0.375,0.114443
4,0.001284,0.042037,0.767469,0.021097,0.742857,0.101010,0.0,0.625,0.103842
...,...,...,...,...,...,...,...,...,...
4538,0.999450,0.020572,0.283150,0.126582,0.285714,0.303030,0.4,0.000,0.226432
4539,0.999542,0.010656,0.598784,0.054852,0.857143,0.828283,0.8,0.000,0.122739
4540,0.999633,0.212775,0.000000,0.531646,0.400000,0.323232,0.0,0.125,0.310217
4541,0.999817,0.041211,0.611699,0.016878,0.200000,0.686869,0.0,0.625,0.094333
4542,1.000000,0.123653,0.642200,0.409283,0.000000,0.272727,0.8,0.625,0.213674